# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
node_modules/
scripts/
package.json
package-lock.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# ComfyUI
input/
output/
temp/
